.dropzone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed;
    height: 300px;
    width: 700px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.uploaded-row{
    margin: 10px 0;
    display: flex;    
    align-items: center;
    padding: 15px 65px;
    border-radius: 5px;
    background-color: #deaff3;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.upload-content{
    display: flex;
    align-items: center;
}

.download-button{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    opacity: 0.7; 
}

.download-button:hover{
    opacity: 1;
}

.droppp{
    font-style: italic;
}

#delete-button{
    opacity: 0.7;
    margin-left: 20px;
}

#delete-button:hover{
    opacity: 1;
}

.fileimage{
    opacity: 0.7;
}

.fileimage:hover{
    opacity: 1;
}

.upload{
    opacity: 0.7;
}

.upload:hover{
    opacity: 1;
}

.input-width{
    width: 60px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    opacity: 0.8;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.input-height{
    width: 60px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    opacity: 0.8;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.resize-button{
    transition-duration: 300ms;
    background-color: #111827;
    display: inline-block;
    padding: 5px 10px;
    color:white;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    opacity: 0.7;
    margin-right: 2px;

}

.resize-button:hover {
    background-color: #030712;
    opacity: 1;
  }

.resize-button:active {
    background-color: #030712;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.reset-button{
    transition-duration: 300ms;
    background-color: #111827;
    display: inline-block;
    padding: 5px 10px;
    color:white;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    opacity: 0.7;
    margin-right: 20px;
}

.reset-button:hover {
    background-color: #030712;
    opacity: 1;
  }

.reset-button:active {
    background-color: #030712;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
  
  .shake {
    animation: shake 0.5s;
  }

.progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
}
.progress-bar {
    height: 10px;
    background-color: #deaff3;
    border-radius: 5px;
    transition: width 0.4s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, .15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .15) 50%,
        rgba(255, 255, 255, .15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
    animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 1rem 0;
    }
    100% {
        background-position: 0 0;
    }
}

.size-info{
    font-style: italic;
}

  